# coding: utf-8
<%inherit file="/admin/base.html"/>

<body>
<h3>道具信息&nbsp;
    %if data.get('uid'):
      用户ID[${data['uid']}]
    %endif
</h3>

%if data.get('fields'):
<ul id="nva">
  %for fd_info in data['fields']:
  <li>
    %if fd_info[0] == data['field']:
    <span>${fd_info[1]}</span>
    %else:
    <a href="/admin/hero/show/?field=${fd_info[0]}&uid=${data['uid']}&next_op=show" target="main">${fd_info[1]}</a>
    %endif
  </li>
  %endfor
</ul>
%endif

<hr>
<div style="font-size:12px;color:red">
%if data.get('msg'):
  ${data['msg']}
%endif
</div>
%if data.get('op','input') in ['input', 'save']:
<form action="/admin/hero/show/" method="post">
    <span style="font-size:12px">用户ID:</span>
    <input type="text" name="uid" value=""></input>
    <input type="hidden" name="field" value="${data['field']}"></input>
    <input type="hidden" name="next_op" value="show"></input>
    <button type="submit">查看</button>
</form>
%endif

%if data.get('op') == 'show':
  ${ data['form'] }
%endif

</body>
<script type="text/javascript">
    var obj=document.getElementById("data");
    for(var i=0;i<obj.rows.length;i++){
        obj.rows[i].onmouseover=function(){this.style.background="#B3D9D9";}
        obj.rows[i].onmouseout=function(){this.style.background="";}
    }
</script>
