# coding: utf-8
<%inherit file="/admin/base.html"/>

<body>
<h3>用户列表</h3>
<hr>
<div style="font-size:12px;color:red">
%if msg:
 ${escape(msg)}
%endif
</div>
<table id="data">
    <tr>
        <th width="50px">ID</td>
        <th width="70px">NAME</td>
        <th>GAME</td>
        <th>PROPS</td>
        <th>RESET</th>
    </tr>
    %for user in user_data:
    <tr>
        <td>${user['id']}</td>
        <td>${user['username']}</td>
        <td><a class="link" href="/admin/game/show/?uid=${user['id']}&field=user" target="main">游戏数据</a></td>
        <td><a class="link" href="/admin/hero/show/?uid=${user['id']}&field=heros" target="main">道具信息</a></td>
        <td><a id="reset_link" href="/admin/user/reset/?uid=${user['id']}" target="main" onclick="return confirm('确定清除吗？')">清除所有数据</a></td>
    </tr>
    %endfor
</table>
</body>
</html>
