<head>
<style type="text/css">
    #data{border-collapse:collapse;border:1px solid #BEBEBE;font-size:12px;}
    #data th{background:#BEBEBE;border-bottom:1px solid #BEBEBE;line-height:24px;
            font-weight:lighter;padding:4px;text-align:center}
    #data td{border:1px solid #BEBEBE;padding:4px;text-align:center;font-size:12px}
    .link{font-size:11px;}
    #reset_link{font-size:11px;color:red}
</style>
</head>
<body>
<h3>用户列表</h3>
<hr>
<div style="font-size:12px;color:red">
{% if msg %}
  {{escape(msg)}}
{% end %}
</div>
<table id="data">
    <tr>
        <th width="60px">ID</th>
        <th>昵称</th>
        <th>级别</th>
        <th>经验</th>
        <th>酷币</th>
        <th>金币</th>
        <th>体力</th>
        <th>排名</th>
        <th>冒险</th>
        <th>阵容</th>
        <th>宠物</th>
        <th>装备</th>
        <th>零件</th>
        <th>操作</th>
    </tr>
    {% for user in user_data %}
    <tr onmouseover="return changecolor(this, '#B3D9D9')" onmouseout="return changecolor(this, '')">
        <td id="id"><a href="/admin/user/show/?uid={{ user['id'] }}" target="main" title="查看用户详细">{{ user['id'] }}</a></td>
        <td id="username" title="TOKEN: {{ user['token'] }}">{{ user['username'] }}</td>
        <td id="level" title="当前等级">{{ user['level'] }}</td>
        <td id="exp" title="当前经验">{{ user['exp'] }}</td>
        <td id="kcoin" title="当前酷币数">{{ user['kcoin'] }}</td>
        <td id="gold" title="当前金币数">{{ user['gold'] }}</td>
        <td id="energy" title="当前体力值">{{ user['energy'] }}</td>
        <td id="rank"  title="0表示没进入竞技场">{{ user['rank'] }}</td>
        <td id="adven" title="格式为: 章节-关卡">{{ user['adven'] }}</td>
        <td id="team"><a href="/admin/user/show/?uid={{user['id']}}&field=team">查看编队</a></td>
        <td id="pet"><a href="/admin/user/show/?uid={{user['id']}}&field=pet">查看宠物</a></td>
        <td id="equip"><a href="/admin/user/show/?uid={{user['id']}}&field=equip">查看装备</a></td>
        <td id="goblin"><a href="/admin/user/show/?uid={{user['id']}}&field=goblin">查看零件</a></td>
        <td><a id="reset_link" href="/admin/user/reset/?uid={{user['id']}}" target="main" onclick="return confirm('确定清除吗？')">清除所有数据</a></td>
    </tr>
    {% end %}
</table>
</body>
<script type="text/javascript">
function changecolor(obj, color){
    obj.style.background=color;
}
</script>